code {
  font-family: $mono-font-family;
  font-size: 85%;
  font-style: normal;
  border: 1px solid $light-gray-color;
  padding: 1px 3px;
  border-radius: 3px;
}

pre {
  overflow-x: auto;

  @media print {
    overflow-x: visible;
    white-space: pre-wrap;
  }
}

figure.highlight {
  font-family: $mono-font-family;
  display: block;
  margin: 10px 10px;
  padding: 0px;
  max-width: 100%;

  pre {
    margin: 0px;
    padding: 8px 12px;
    max-width: 100%;

    font-size: 85%;

    code {
      padding: 0px;
      border: none;
      font-size: inherit;
    }
  }
}
