a.footnote::after {
  content: ")";
}

.footnotes {
  font-family: $compact-font-family;
  font-size: $small-font-size;

  padding-top: 10px;
  margin-top: 10px;

  border-top: dotted 1px $frame-color-light;

  columns: 2;

  ol {
    margin: 0px;
    padding-left: 20px;
    li {
      break-inside: avoid;
      page-break-inside: avoid;
      p {
        break-inside: avoid;
        page-break-inside: avoid;

        display: inline-block;
        vertical-align: top;
        margin-top: 0px;
      }

      &:target {
        background-color: $frame-color-back;
      }
    }
  }

  p {
    text-align: left;
  }

  @media screen and (max-width: 550px) {
    columns: 1;
  }
}
