figure {
  display: block;
  padding: 0px;
  margin: 5px 0px;
  border: solid $base-gray-color 1px;
  box-shadow: $base-shadow $base-gray-color;

  &.logo {
    border: none;
    box-shadow: none;
  }

  break-inside: avoid;
  page-break-inside: avoid;

  a:link {
    color: $base-link-color;
    text-decoration: none;
  }
  a:visited {
    color: $visited-link-color;
    text-decoration: none;
  }
  a:link:hover {
    text-decoration: underline;
  }

  img {
    display: block;
    max-width: 100%;
  }

  iframe {
    display: block;
    border: 0px;
    margin: 0px;
    padding: 0px;
    width: 100%;
  }

  figcaption {
    display: block;
    font-style: italic;
    font-size: $small-font-size;
    text-align: center;
    margin: 3px 5px 2px;
  }
}

iframe.square {
  aspect-ratio: 1/1;
}

iframe.hd {
  aspect-ratio: 16/9;
}

.strict-left {
  float: left;
  margin-right: 10px;
}
.strict-right {
  float: right;
  margin-left: 10px;
}
.center {
  float: none;
  clear: both;
  margin: 10px auto;
}
.left {
  @extend .strict-left;
  @media screen and (max-width: 500px) {
    float: none;
    margin: 5px auto 5px;
  }
}
.right {
  @extend .strict-right;
  @media screen and (max-width: 500px) {
    float: none;
    margin: 10px auto;
  }
}

div.image-box {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  column-gap: 20px;
  row-gap: 10px;
  margin: 10px 0px;
}
