aside.categories {
  a {
    padding: 2px 10px 2px;
    &:first-child {
      padding-left: 0px;
    }
  }
  a:hover {
    text-decoration: none;
    background-color: $highlight-color;
  }
}

.meta {
  color: $frame-color-dark;
}

h1 + aside + .meta {
  margin-bottom: 2em;

  font-family: $caption-font-family;
  font-size: $small-font-size;
}

h1 + aside + .meta + .tags {
  @extend .meta;

  margin-top: -1.5em;
  margin-bottom: 2em;

  font-family: $caption-font-family;
  font-size: $small-font-size;
}

aside.tags {
  a {
    padding: 2px 5px 2px;

    &:first-child {
      padding-left: 0px;
    }

    &::before {
      @extend .fa-icon-tag;
      font-size: 80%;
      color: $frame-color-light;
    }
  }
  a,
  a:link,
  a:visited {
    color: $frame-color-dark;
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
    background-color: $highlight-color;
  }
}
