article > table,
article > div > table {
  border-collapse: collapse;
  color: $dark-gray-color;

  td,
  th {
    padding: 5px;
    margin: 0px;
  }

  td {
    border: 1px solid $light-gray-color;
  }

  th {
    background-color: $light-gray-color;
    border: 1px solid $base-gray-color;
  }

  tr:nth-child(even) {
    background-color: $lightest-gray-color;
  }

  &.wide {
    width: 100%;
    box-sizing: border-box;
    margin: 10px auto;
  }

  caption {
    font-size: $small-font-size;
    font-style: italic;
  }
}

.coded {
  margin: 10px 0px;
  font-size: 90%;

  td {
    vertical-align: top;

    code {
      @media screen and (min-width: 920px) {
        display: inline-block;
        white-space: nowrap;
      }
    }
  }

  @media print {
    font-size: 80%;
  }
}
