---
layout: nova/page
stylesheet: goods
---

{% if page.children and page.children.size > 0 %}
<h2 id="children">Подкатегории</h2>
<div class="subcategories" style="columns: unset;">
  {%- include goods/subdesigns.liquid design=page skip_empty=true depth=3 start=true -%}
</div>
<hr>
{% endif %}

{{ content }}

{%- assign filtered_goods = page.goods -%}
{% if filtered_goods.size > 1 %}
{% assign sampled = filtered_goods | sample: filtered_goods.size %}
{% else %}
{% assign sampled = filtered_goods %}
{% endif %}
{%- assign sorted_goods = sampled | sort: 'date' | reverse -%}
{% if sorted_goods.size > 0 %}
<h2 id="goods">Товары (<span id="title-counter">{{- sorted_goods.size -}}</span>)</h2>
<p class="italic">Новые сверху (по дате публикации на этом сайте, а не по дате публикации на принтшопе).</p>
<div id="filter-container"></div>
<div class="goods-min-grid">
  {% for product in sorted_goods %}
    {% assign product_design = site.designs | where: 'path', product.design | first %}
    {% if product_design == nil %}{% console_log product.design %}{% link ololo_error.md %}{% endif %}
    {% assign product_title = product_design.title %}
    {% assign product_good = site.goods | where: 'path', product.good | first %}
    {% if product_good == nil %}{% console_log product.good %}{% link ololo_error.md %}{% endif %}
    {% assign product_type = product_good.title %}
    <div class="product-min-card" data-kind="{{ product.good }}" data-design="{{ product.design }}">
    <a href="{{ product.url }}">
      {% if product.img %}
        <img src="{{ product.img }}" alt="{{ product_title | escape }}" loading="lazy">
      {% else %}
        <div class="no-photo">Нет фото</div>
      {% endif %}
    </a>
    <span class="product-kind"><a href="{{ product_good.url | relative_url }}">{{ product_type }}</a></span>
    <span class="product-design"><a href="{{ product_design.url | relative_url }}">{{ product_title }}</a></span>
    </div>
  {% endfor %}
</div>
{% endif %}

<script>
  window.goodKinds = {{ page.kinds | jsonify }};
</script>
<script src="/assets/js/goods.js"></script>
