---
layout: nova/page
stylesheet: goods
---

{% if page.children and page.children.size > 0 %}
<h2 id="children">Подкатегории</h2>
<div class="subcategories" style="columns: unset;">
  {%- include goods/subdesigns.liquid design=page skip_empty=true depth=3 start=true -%}
</div>
<hr>
{% endif %}

{{ content }}

{%- assign sorted_goods = page.goods -%}
{% if sorted_goods.size > 0 %}
<h2 id="goods">Товары (<span id="title-counter">{{- sorted_goods.size -}}</span>)</h2>
<p class="italic">Новые сверху (по дате публикации на этом сайте, а не по дате публикации на принтшопе).</p>
<div id="filter-container"></div>
  {% include goods/products.liquid sorted_goods=sorted_goods %}
{% endif %}

<script>
  window.goodKinds = {{ page.kinds | jsonify }};
</script>
<script src="/assets/js/goods.js"></script>
