---
layout: nova/page
stylesheet: goods
---

{%- if page.children and page.children.size > 0 -%}
<h2 id="children">Подкатегории</h2>
<div class="subcategories" style="columns: unset;">
{%- include goods/subkinds.liquid kind=page skip_empty=true depth=3 start=true -%}
</div>
<hr>
{%- endif -%}

{{ content }}

{%- assign filtered_goods = page.goods -%}
{%- if filtered_goods.size > 1 -%}
{%- assign sampled = filtered_goods | sample: filtered_goods.size -%}
{%- else -%}
{%- assign sampled = filtered_goods -%}
{%- endif -%}
{%- assign sorted_goods = sampled | sort: 'date' | reverse -%}
{%- if sorted_goods.size > 0 -%}
<h2 id="goods">Товары (<span id="title-counter">{{- sorted_goods.size -}}</span>)</h2>
<p class="italic">Новые сверху (по дате публикации на этом сайте, а не по дате публикации на принтшопе).</p>
<div id="filter-container"></div>
  {% include goods/products.liquid sorted_goods=sorted_goods %}
{%- endif -%}

<script>
  window.goodDesigns = {{ page.designs | jsonify }};
</script>
<script src="/assets/js/goods.js"></script>
