---
layout: nova/page
stylesheet: goods
---

{% if page.children and page.children.size > 0 %}
<h2 id="children" style="visibility: hidden;height: 0px;">Подкатегории</h2>
<div class="subcategories" style="columns: unset;">
{% include goods/subkinds.liquid kind=page %}
</div>
<hr>
{% endif %}

{{ content }}

{%- include goods/filter_by_kind.liquid -%}
{% if filtered_goods.size > 1 %}
{% assign sampled = filtered_goods | sample: filtered_goods.size %}
{% else %}
{% assign sampled = filtered_goods %}
{% endif %}
{%- assign sorted_goods = sampled | sort: 'date' | reverse -%}
{% if sorted_goods.size > 0 %}
<h2 id="goods">Товары ({{ sorted_goods.size }})</h2>
<p class="italic">Новые сверху (по дате публикации на этом сайте, а не по дате публикации на принтшопе).</p>
<div class="goods-min-grid">
  {% for product in sorted_goods %}
    {% assign product_design = site.designs | where: 'path', product.design | first %}
    {% assign product_title = product_design.title %}
    {% assign product_good = site.goods | where: 'path', product.good | first %}
    {% assign product_type = product_good.title %}
    {% assign product_shop = product_good.shop %}
    <div class="product-min-card">
    <a href="{{ product.url }}">
      {% if product.img %}
        <img src="{{ product.img }}" alt="{{ product_title | escape }}" loading="lazy">
      {% else %}
        <div class="no-photo">Нет фото</div>
      {% endif %}
    </a>
    <span class="product-kind {{ product_shop }}"><a href="{{ product_good.url | relative_url }}">{{ product_type }}</a></span>
    <span class="product-design"><a href="{{ product_design.url | relative_url }}">{{ product_title }}</a></span>
    </div>
  {% endfor %}
</div>
{% endif %}
