#global-box {
  position: relative;
}

#watermark-container {
  z-index: 1;

  align-items: center;
  display: none;
  justify-content: center;

  left: 0px;
  position: fixed;
  top: 0px;

  height: 100%;
  width: 100%;

  @media print {
    display: flex;
  }
}

#page-container {
  z-index: 0;

  position: relative;
}

#watermark {
  color: rgba(0, 0, 0, 0.1);
  font-size: 100pt;
  font-family: $mono-font-family;
  font-weight: bold;
  transform: rotate(-60deg);
  user-select: none;
}
