---
layout: nova/page
stylesheet: book
---
{{ content }}

<hr style="border: 2px; margin: 20px auto; width: 40%;">

<script src="https://giscus.app/client.js"
        data-repo="shikhalev/shikhalev.github.io"
        data-repo-id="MDEwOlJlcG9zaXRvcnkzMjI2NTAyNDI="
        data-category="General"
        data-category-id="MDE4OkRpc2N1c3Npb25DYXRlZ29yeTMyMTgzNDIw"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="ru"
        crossorigin="anonymous"
        async>
</script>
