<div class="inat-widget">
    <div class="inat-widget-header">
      <a href="https://www.inaturalist.org"><img alt="iNaturalist" src="https://www.inaturalist.org/assets/logo-small-c1caecf8d38ed3d4ddeb7a1da076ec97.png" /></a>
    </div>
  <script type="text/javascript" charset="utf-8" src="https://www.inaturalist.org/observations/shikhalev.widget?layout=large&limit=7&order=desc&order_by=observed_on"></script>
  <table class="inat-footer">
    <tr class="inat-user">
        <td class="inat-user-image">
          <a border="0" href="https://www.inaturalist.org/observations/shikhalev"><img class="usericon" src="https://static.inaturalist.org/attachments/users/icons/3531113/thumb.jpg?1601004873" alt="Thumb" /></a>
        </td>
      <td class="inat-value">
        <a href="https://www.inaturalist.org/observations/shikhalev">Посмотреть наблюдения shikhalev »</a>
      </td>
    </tr>
  </table>
</div>
