<div id="inat-creator" style="display: none;">
<div class="inat-widget" id="inat-widget">
    <div class="inat-widget-header">
      <a href="https://www.inaturalist.org"><img alt="iNaturalist" src="https://www.inaturalist.org/assets/logo-small-c1caecf8d38ed3d4ddeb7a1da076ec97.png" /></a>
    </div>
  <script type="text/javascript" charset="utf-8" src="https://www.inaturalist.org/observations/shikhalev.widget?layout=large&limit=7&order=desc&order_by=created_at"></script>
  <table class="inat-footer">
    <tr class="inat-user">
        <td class="inat-user-image">
          <a border="0" href="https://www.inaturalist.org/observations/shikhalev"><img class="usericon" src="https://static.inaturalist.org/attachments/users/icons/3531113/thumb.jpg?1601004873" alt="Thumb" /></a>
        </td>
      <td class="inat-value">
        <a href="https://www.inaturalist.org/observations/shikhalev">Посмотреть наблюдения shikhalev »</a>
      </td>
    </tr>
  </table>
</div>
</div>
<script type="text/javascript">
  window.addEventListener('load', function(e) {
    var widget = document.getElementById('inat-widget');
    var target = document.getElementById('inat-sideblock');
    console.log({widget:widget,target:target});
    if (widget && target) {
      target.appendChild(widget);
    }
  });
</script>
