{% if page.category_id and page.category_id != 'home' %}
  {% if site.feed.categories contains page.category_id %}
    <div class="rss-box">
      <a class="rss-link" href="/feed/{{page.category_id}}.xml" title="Лента новостей категории «{{page.title}}»">
        <svg class="svg-rss-icon" style="fill: #fdb;"><use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use></svg><span>RSS</span>
      </a>
    </div>
  {% endif %}
{% else %}
  {% comment %}
    Для главной страницы
  {% endcomment %}
    <div class="rss-box">
      <a class="rss-link" href="/feed.xml" title="Лента новостей сайта»">
        <svg class="svg-rss-icon" style="fill: #fdb;"><use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use></svg><span>RSS</span>
      </a>
    </div>
{% endif %}
