<aside class="sidebar">

  <div class="block">
    {% include google/search.html %}
  </div>

  {% assign flag = include.toc | strip %}
  {% if flag != "" %}
  <div class="block">
    <h4>Содержание</h4>
    {{ include.toc }}
  </div>
  {% endif %}

  {% include external/yoomoney.html %}

  {% include google/ads.html %}

  {% include subscribe.html %}

  <div class="block">
    {% include me.html %}
    {%- include social.html -%}
  </div>

  {% include inaturalist/placeholder.html %}

</aside>
