<h4>Atom Feeds</h4>
<ul>
  <li>
    <a href="/feed.xml" title="{{- site.title -}}">Все записи</a>
    <ul>
      {%- if page.categories.size > 0 -%}
        {%- assign src = page.categories -%}
      {%- elsif page.category_id and page.category_id != 'about' and page.category_id != 'home' -%}
        {%- capture lst -%}{%- include nova/utils/chain.liquid item=page -%}{%- endcapture -%}
        {%- assign src = lst | split: '///' -%}
      {%- else -%}
        {%- assign src = site.feed.categories -%}
      {%- endif -%}
      {%- if src.size >= 1 and src[0] == 'text' -%}
        {%- assign src = src | push: 'best' | uniq -%}
      {%- endif -%}
      {%- for cat in src -%}
        {%- if site.feed.categories contains cat -%}
          {%- assign category_page = site.streams | where: 'category_id', cat | first -%}
          <li><a href="/feed/{{cat}}.xml" title="{{- category_page.description -}}">{{- category_page.title -}}</a></li>
        {%- endif -%}
      {%- endfor -%}
    </ul>
  </li>
</ul>
