{%- if include.item -%}
  {%- assign item = include.item -%}
{%- else -%}
  {%- assign item = page -%}
{%- endif -%}
{%- assign cats = '' | split: '///' -%}
{%- if item.categories and item.categories.size > 0 -%}
  {%- assign cats = item.categories -%}
{%- elsif item.category_id -%}
  {%- capture list -%}
    {%- include nova/utils/chain.liquid item=page -%}
  {%- endcapture -%}
  {%- assign cats = list | strip | split: '///' -%}
{%- endif -%}
{%- for cat in cats -%}
  {%- assign category_page = site.streams | where: 'category_id', cat | first -%}
  ​<a class="fa-icon-{{- category_page.icon | default: 'folder-open' -}}" href="{{- category_page.url | relative_url -}}" title="{{- category_page.description -}}">{{- category_page.short | default: category_page.title -}}</a>
{%- endfor -%}
