{%- assign url = nil -%}
{%- if page.category_id -%}
  {%- if page.category_id == 'home' -%}
    {%- assign url = "/feed.xml" -%}
  {%- elsif site.feed.categories contains page.category_id -%}
    {%- assign url = "/feed/" | append: page.category_id | append: ".xml" -%}
  {%- endif -%}
{%- endif -%}
{%- if url -%}
  <aside class="feed-box"><a href="{{- url -}}">Atom</a></aside>
{%- endif -%}
