{%- if include.item -%}
  {%- assign tags = include.item.tags | sort -%}
{%- else -%}
  {%- assign tags = page.tags | sort -%}
{%- endif -%}
{%- for tag in tags -%}
  ​<a class="tag" href="{%- link pages/tags.md -%}#{{- tag -}}">{{- tag -}}</a>
{%- endfor -%}
