{%- assign cats = '' | split: '///' -%}
{%- if page.categories -%}
  {%- assign cats = page.categories -%}
{%- elsif page.category_id -%}
  {%- capture list -%}
    {%- include nova/bread.html category_id = page.category_id -%}
  {%- endcapture -%}
  {%- assign cats = list | split: '///' -%}
{%- endif -%}
<aside class="categories">
  <a class="fa-icon-home" href="/" title="Главная страница сайта"></a>
  {%- for cat in cats -%}
    {%- assign category_page = site.streams | where: 'category_id', cat | first -%}
    ​<a class="fa-icon-{{- category_page.icon | default: 'folder-open' -}}" href="{{- category_page.url | relative_url -}}" title="{{- category_page.description -}}">{{- category_page.short | default: category_page.title -}}</a>
  {%- endfor -%}
</aside>
