{%- assign cats = '' | split: '///' -%}
{%- if page.categories -%}
  {%- assign cats = page.categories -%}
{%- elsif page.category_id -%}
  {%- capture list -%}
    {%- include nova/bread.html category_id = page.category_id -%}
  {%- endcapture -%}
  {%- assign cats = list | split: '///' -%}
{%- endif -%}
<aside class="categories">
  <a class="fa-icon-home" href="/" title="Главная страница сайта"></a>
  {%- for cat in cats -%}
    {%- assign catpage = site.streams | where: 'category_id', cat | first %}
    <a class="fa-icon-{{- catpage.icon | default: 'folder-open' -}}" href="{{- catpage.url | relative_url -}}" title="{{- catpage.description -}}">{{- catpage.short | default: catpage.title -}}</a>
  {% endfor -%}
</aside>
