<div class="comment" id="{{- include.comment.comment_id -}}" itemscope itemtype="http://schema.org/Comment">
  <h5 class="comment-title">
    <span class="comment-author" itemprop="author" itemscope itemtype="http://schema.org/Person">
      {%- if include.comment.url and include.comment.url != '' -%}
        <a href="{{- include.comment.url -}}" itemprop="url" content="{{- include.comment.url -}}"><span itemprop="name">{{- include.comment.name -}}</span></a>
      {%- else -%}
        <span itemprop="name">{{- include.comment.name -}}</span>
      {%- endif -%}
    </span>
    <span class="comment-meta">
      <a href="#{{- include.comment.comment_id -}}" itemprop="url" content="{{- page.url | absolute_url -}}#{{- include.comment.comment_id -}}">#{{- include.comment.comment_id -}}</a>
      <span itemprop="datePublished" content="{{- include.comment.date | date_to_xmlschema -}}">{{- include.comment.date | date: "%Y.%m.%d %H:%M" -}}</span>
      {%- if include.comment.parent_id and include.comment.parent_id != '' %}
        ответ на <a href="#{{- include.comment.parent_id -}}">#{{- include.comment.parent_id -}}</a>
      {%- endif -%}
    </span>
  </h5>
  <div class="comment-message">
    {{- include.comment.message | xml_escape | replace: '&gt;', '>' | markdownify -}}
  </div>
  <div class="comment-actions-wrapper"><p class="comment-actions"><a style="cursor: pointer;" data-action="answer" data-comment="{{- include.comment.comment_id -}}">Ответить</a> |
                             <a style="cursor: pointer;" data-action="cite" data-comment="{{- include.comment.comment_id -}}">Цитировать</a></p></div>
  {%- if include.expand != false -%}
    {%- for cc in include.source -%}
      {%- if cc[1].parent_id == include.comment.comment_id -%}
        {%- assign sub = cc[1] -%}
        {%- include nova/comment.html comment=sub source=include.source -%}
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}

</div>
