<h4>О себе</h4>

<ul>
  <li class="fa-icon-li-id-card person"><a href="/about/">Иван Шихалев</a></li>
  <li class="fa-icon-li-envelope"><a href="mailto:shikhalev@gmail.com">shikhalev@gmail.com</a></li>
  <li class="fa-icon-li-keyboard">Программист</li>
  <li class="fa-icon-li-map-marked-alt">Живу на Урале</li>
  <li class="fa-icon-li-camera">Хобби — фотография</li>
</ul>

<p class="social">
  <a href="https://www.twitter.com/shikhalev">&#xf099;</a>
  <a href="https://www.facebook.com/shikhalev">&#xf39e;</a>
  <a href="https://vk.com/shikhalev">&#xf189;</a>
  <a href="https://github.com/shikhalev">&#xf09b;</a>
  <a href="https://instagram.com/ivanshikhalev">&#xf16d;</a>
  <a href="https://www.linkedin.com/in/shikhalev">&#xf08c;</a>
</p>
