<h4>Atom Feeds</h4>
<ul>
  <li>
    <a href="/feed.xml" title="{{site.title}}">Все записи</a>
    <ul>
      {% if page.categories.size > 0 %}
        {% assign src = page.categories %}
      {% elsif page.category_id and page.category_id != 'about' and page.category_id != 'home' %}
        {%- capture lst -%}{%- include nova/bread.html item=page -%}{%- endcapture -%}
        {% assign src = lst | split: '///' %}
      {% else %}
        {% assign src = site.feed.categories %}
      {% endif %}
      {% for cat in src %}
        {% if site.feed.categories contains cat %}
          {% assign catpage = site.streams | where: 'category_id', cat | first %}
          <li><a href="/feed/{{cat}}.xml" title="{{catpage.description}}">{{catpage.title}}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </li>
</ul>
{% comment %}
  TODO: добавить ссылку на «Избранное» для всех текстов
{%  endcomment %}
