{%- assign alt = include.alt | default: include.title | default: include.caption -%}
{%- assign title = include.title | default: include.caption -%}
{%- assign caption = include.caption -%}
{%- assign place = include.place | default: 'center' -%}
{%- if include.link == false -%}
  {%- assign link = false -%}
{%- else -%}
  {%- assign link = include.link | default: include.src -%}
{%- endif -%}
{%- assign src = include.src -%}
{%- assign slug = src | split: '/' | last | slugify -%}
{%- assign id = include.id | default: slug -%}
{%- assign class_prefix = '' -%}
{%- if place == 'center' -%}
  {%- assign width = include.width | 800 -%}
{%- else -%}
  {%- assign width = include.width | 320 -%}
  {%- if width <= 200 -%}
    {%- assign class_prefix = 'strict-' -%}
  {%- endif -%}
{%- endif -%}
{%- assign class = class_prefix | append: place -%}
{%- if include.class -%}
  {%- assign class = class | append: ' ' | append: include.class -%}
{%- endif -%}
{%- if include.img_style -%}
  {%- assign img_style = ' style="' | append: include.img_style | append: '"' -%}
{%- else -%}
  {%- assign img_style = '' -%}
{%- endif -%}
<figure markdown="0" id="{{- id -}}" class="{{- class -}}" style="max-width: {{- width -}}px;{{- include.style -}}">
  {%- if link -%}
    <a href="{{- link -}}" title="{{- title -}}">
  {%- endif -%}
  <img src="{{- src -}}" title="{{- title -}}" alt="{{- alt -}}"{{- img_style -}}>
  {%- if link -%}
    </a>
  {%- endif -%}
  {%- if caption -%}
    <figcaption markdown="span">{{- caption -}}</figcaption>
  {%- endif -%}
</figure>
