{%- assign subs = site.streams | where: 'parent', include.category_id | sort: 'order_no', 'last' -%}
{%- for sub in subs -%}
  {%- if forloop.first -%}
    <ul>
  {%- endif -%}
    <li class="fa-icon-li-{{- sub.icon -}}">
      <a href="{{- sub.url | relative_url -}}" title="{{- sub.description -}}">
        {{- sub.title | escape -}}
        {%- if site.categories[sub.category_id] and site.categories[sub.category_id].size > 0 -%} ({{- site.categories[sub.category_id].size -}}){%- endif -%}
      </a>
      {%- include nova/subcategories.html category_id=sub.category_id -%}
    </li>
  {%- if forloop.last -%}
    </ul>
  {%- endif -%}
{%- endfor -%}
