/**
 * Site header
 */
.site-header {
  border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  position: relative;

  @media print {
    display: none;
  }
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
  font-family: $caption-font-family;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}

.sidebar {
  float: right;
  width: 300px;
  margin-left: 10px;
  padding: 0px;

  .block {
    padding: 10px 10px 0px;
    border-top: solid $grey-color-light 5px;
    border-left: solid $grey-color-light 1px;
    margin-bottom: 10px;

    li.toc-entry::marker {
      content: "🗈 ";
    }

    li.toc-entry {
      margin-bottom: 0px;
      text-align: left;
      hyphens: manual;
      font-family: $compact-font-family;
    }
  }

  @media print {
    display: none;
  }

  @media screen and (max-width: 1200px) {
    display: none;
  }
}

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;

  @media print {
    display: none;
  }
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width: calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width: calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width: calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width: calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}

/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  font-family: $caption-font-family;
  color: $grey-color;

  a {
    color: $grey-color;
  }
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}

.post,
.home {
  max-width: 900px;
}

/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-categories {
  padding: 3px;
  font-size: $small-font-size;
  color: $brand-color;
  font-family: $caption-font-family;

  a:link {
    color: $brand-color;
  }

  a:visited {
    color: $brand-color;
  }

  a:hover {
    background-color: lighten($brand-color, 50%);
    color: $brand-color;
  }

  a::before {
    content: "§ ";
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}

.inline {
  display: inline-block;

  p {
    margin: 0px;
  }

  .caption {
    font-family: $caption-font-family;
    font-style: italic;
    text-align: center;
    font-size: small;
    margin-top: 5px;
    margin-bottom: 7px;
    max-width: 310px;
    hyphens: manual;
  }
}

.right-box {
  float: right;
  padding: 0px;
  margin-top: 8px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 0px;

  // border: solid $grey-color-light 1px;

  p {
    margin: 0px;
  }

  .caption {
    font-family: $caption-font-family;
    font-style: italic;
    text-align: center;
    font-size: small;
    margin-top: 5px;
    margin-bottom: 3px;
    max-width: 310px;
  }
}

.left-box {
  float: left;
  padding: 0px;
  margin-top: 8px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 10px;

  // border: solid $grey-color-light 1px;

  p {
    margin: 0px;
  }

  .caption {
    font-family: $caption-font-family;
    font-style: italic;
    text-align: center;
    font-size: small;
    margin-top: 5px;
    margin-bottom: 3px;
    max-width: 310px;
  }
}

.center-box {
  text-align: center;
  width: 800px;
  max-width: 800px;
  padding: 0px;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;

  // border: solid $grey-color-light 1px;

  img {
    display: inline-block;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  table {
    margin-bottom: 0px;
  }

  p {
    margin: 0px;
  }

  .caption {
    font-family: $caption-font-family;
    font-style: italic;
    text-align: center;
    font-size: small;
    margin-top: 5px;
    margin-bottom: 3px;
    max-width: 800px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
dt {
  font-family: $caption-font-family;
  margin-top: 15px;
}

.sidebar {
  h4 {
    margin-top: 0px;
    margin-bottom: 10px;
  }
}

.taglist {
  font-size: $small-font-size;
  font-family: $caption-font-family;
  color: $grey-color;

  a {
    color: $grey-color;
  }
}

.small {
  font-size: small;
}

img.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  box-shadow: 1px 1px 10px $grey-color;
}

p.description {
  font-style: italic;
  font-family: $caption-font-family;
  color: $grey-color;
}

sup[role="doc-noteref"] {
  font-size: x-small;
  ::after {
    content: ")";
  }
}

div.note {
  font-size: small;
  font-style: italic;
  margin-left: 2em;
  margin-right: 2em;
}

.abstract {
  margin-left: 2em;
  margin-right: 2em;
}

hr {
  margin: 10px;
}

dt {
  margin-top: 15px;
}

dd {
  margin-left: 2em;
}

div.footnotes {
  font-size: 90%;
  font-family: $compact-font-family;
  columns: 2;

  padding-top: 10px;
  border-top: solid 2px $grey-color-light;

  li p {
    display: inline-block;
    vertical-align: top;
  }

  p {
    margin-bottom: 5px;
    text-align: left;
  }
}

li,
p,
dd {
  -webkit-hyphens: auto;
  hyphens: auto;
  text-align: justify;
  margin-bottom: 5px;
}

.post-item {
  margin-top: 0px;
}

figure.highlight {
  pre {
    margin-left: 2em;
    margin-right: 2em;
  }
}

img.icon {
  vertical-align: text-bottom;
}

a.with-icon {
  display: inline-block;
}

div.verse {
  display: table;
  margin-left: auto;
  margin-right: auto;
  p {
    white-space: pre;
    margin-bottom: 10px;
  }
}

div.verse-list {
  p {
    white-space: pre;
    margin-bottom: 10px;
  }
  .verse-date,
  .epigraph {
    text-align: left;
    font-style: italic;
    margin-bottom: 15px;
    margin-left: 12em;
  }
}

.verse-date,
.epigraph {
  text-align: right;
  font-style: italic;
  margin-bottom: 15px;
}

.i4 {
  margin-left: 4em;
}

.i2i {
  margin-left: 2em;
  font-style: italic;
}

h1.verse-title {
  text-align: center;
}

.list-meta {
  text-align: center;
  font-size: small;
  color: $grey-color-dark;
  background-color: $grey-color-light;
  margin-bottom: 0px;
  padding-top: 5px;
  border-top: solid 3px $grey-color-dark;
}

.calendar-link-header {
  margin-top: 0px;
  text-align: center;
  background-color: $grey-color-light;
}

.calendar-post-link {
  font-family: $caption-font-family;
}

.subcategories {

  li::marker {
    content: "🗁 ";
  }

  // h4::before {
  //   content: "🗁 ";
  // }

  li {
  -webkit-column-break-inside: avoid;
            page-break-inside: avoid; /* Makes effect only in Firefox */
                 break-inside: avoid; /* IE10+, Opera 11.1—12.1 */
  }

  li {
    margin-bottom: 0px;
    text-align: left;
    font-family: $caption-font-family;
  }
}

.rss-box {
  float: right;
  text-align: right;
  padding: 5px;
  background-color: #f9f9fe;
  border-radius: 5px;
}
a.rss-link, a.rss-link:visited, a.rss-link:hover, a.rss-link:link {
  color: #999;
  font-family: $caption-font-family;
  // font-weight: bold;
}
.svg-rss-icon {
  @extend .svg-icon;
  fill: #fdb;
}

.g-recaptcha {
  display: inline-block;
  vertical-align: top;
}

.add-comment-section {
  @media print {
    display: none;
  }
}

.post-categories {
  @media print {
    display: none;
  }
}

.not-printable {
  @media print {
    display: none;
  }
}

.gsc-control-cse {
  margin: 0px !important;
  padding: 0px !important;
  border: none !important;
  table, td {
    margin: 0px;
    padding: 0px;
    border: none;
  }
}

p.post-meta {
  hyphens: manual;
  text-align: left;
}
