// @use "sass:map";

$icons: (
  "laptop-code": (
    "symbol": "\f5fc",
    "font": "fas",
  ),
  "camera": (
    "symbol": "\f030",
    "font": "fas",
  ),
  "newspaper": (
    "symbol": "\f1ea",
    "font": "far",
  ),
  "feather": (
    "symbol": "\f52d",
    "font": "fas",
  ),
  "id-card": (
    "symbol": "\f2c2",
    "font": "far",
  ),
  "link": (
    "symbol": "\f0c1",
    "font": "fas",
  ),
  "hashtag": (
    "symbol": "\f292",
    "font": "fas",
  ),
  "file-alt": (
    "symbol": "\f15c",
    "font": "far",
  ),
  "bookmark": (
    "symbol": "\f02e",
    "font": "far",
  ),
  "calendar-alt": (
    "symbol": "\f073",
    "font": "far",
  ),
  "home": (
    "symbol": "\f015",
    "font": "fas",
  ),
  "leaf": (
    "symbol": "\f06c",
    "font": "fas",
  ),
  "users": (
    "symbol": "\f0c0",
    "font": "fas",
  ),
  "folder-open": (
    "symbol": "\f07c",
    "font": "far",
  ),
  "folder-open-black": (
    "symbol": "\f07c",
    "font": "fas",
  ),
  "star-of-life": (
    "symbol": "\f621",
    "font": "fas",
  ),
  "tag": (
    "symbol": "\f02b",
    "font": "fas",
  ),
  "rss-square": (
    "symbol": "\f143",
    "font": "fas",
  ),
  "envelope": (
    "symbol": "\f0e0",
    "font": "far",
  ),
  "keyboard": (
    "symbol": "\f11c",
    "font": "far",
  ),
  "map-marked-alt": (
    "symbol": "\f5a0",
    "font": "fas",
  ),
  "vk": (
    "symbol": "\f189",
    "font": "fab",
  ),
  "twitter": (
    "symbol": "\f099",
    "font": "fab",
  ),
  "facebook-f": (
    "symbol": "\f39e",
    "font": "fab",
  ),
  "github": (
    "symbol": "\f09b",
    "font": "fab",
  ),
  "instagram": (
    "symbol": "\f16d",
    "font": "fab",
  ),
  "linkedin": (
    "symbol": "\f08c",
    "font": "fab",
  ),
);

@each $name, $data in $icons {
  .fa-li-include-#{$name} {
    content: "#{map-get($data, "symbol")} ";
    @extend .#{map-get($data, "font")};
  }

  .fa-icon-#{$name} {
    &::before {
      content: "#{map-get($data, "symbol")} ";
      @extend .#{map-get($data, "font")};
    }
  }
  li.fa-icon-li-#{$name} {
    &::marker {
      content: "#{map-get($data, "symbol")} ";
      @extend .#{map-get($data, "font")};
    }
  }
}

@mixin icon-fix {
  @each $name, $data in $icons {
    li.fa-icon-li-#{$name} {
      &::marker {
        content: "#{map-get($data, "symbol")} ";
        @extend .#{map-get($data, "font")};
      }
    }
  }
}
