body {
  padding: 0px;
  margin: 0px;
}

#grid {
  padding: 0px;
  margin: 0px;

  display: grid;

  @media print {
    display: block;
  }

  @media screen and (min-width: 1230px) {
    grid-template-columns: 1fr 400px 500px 10px 300px 1fr;
    grid-template-areas:
      "hl header navy   navy   navy     hr"
      ".  main   main   .      search   ."
      ".  main   main   .      toc      ."
      ".  main   main   .      donate   ."
      ".  main   main   .      gads     ."
      ".  main   main   .      feeds    ."
      ".  main   main   .      contacts ."
      ".  main   main   .      extra    ."
      ".  main   main   .      .        ."
      "fl footer footer fr     fr       fr";
  }

  @media screen and (max-width: 1229px) and (min-width: 1150px) {
    grid-template-columns: 1px 1fr 500px 10px 300px;
    grid-template-areas:
      "hl header navy   navy   navy"
      ".  main   main   .      search"
      ".  main   main   .      toc"
      ".  main   main   .      donate"
      ".  main   main   .      gads"
      ".  main   main   .      feeds"
      ".  main   main   .      contacts"
      ".  main   main   .      extra"
      ".  main   main   .      ."
      "fl footer footer fr     fr";
  }

  @media screen and (max-width: 1149px) and (min-width: 920px) {
    grid-template-columns: 1fr 300px 300px 300px 1fr;
    grid-template-areas:
      "hl header navy   navy     hr"
      "hl header hb     search   hr"
      ".  gads   gads   gads     ."
      ".  main   main   main     ."
      ".  donate extra  feeds    ."
      ".  donate extra  contacts ."
      ".  .      extra  .        ."
      "fl footer footer footer   fr";
  }

  @media screen and (max-width: 919px) and (min-width: 750px) {
    grid-template-columns: 300px 1fr 1fr;
    grid-template-areas:
      "header navy   navy"
      "header hb     search"
      "gads   gads   gads"
      "main   main   main"
      "donate extra  feeds"
      "donate extra  contacts"
      ".      extra  ."
      "footer footer footer";
  }

  @media screen and (max-width: 749px) and (min-width: 550px) {
    grid-template-columns: 300px 10px 1fr;
    grid-template-areas:
      "header navy   navy"
      "search search search"
      "gads   gads   gads"
      "main   main   main"
      "donate .      feeds"
      "donate .      contacts"
      ".      .      extra"
      "footer footer footer";
  }

  @media screen and (max-width: 549px) {
    grid-template-columns: 300px 1fr;
    grid-template-areas:
      "header   navy"
      "search   search"
      "gads     gads"
      "main     main"
      "donate   donate"
      "feeds    feeds"
      "contacts contacts"
      "extra    extra"
      "footer   footer";
  }
}

@mixin header-top {
  border-top: solid 5px $frame-color-dark;
}

@mixin header-bottom {
  border-bottom: solid 2px $frame-color-light;
}

#site-header {
  grid-area: header;
  font-size: $header-font-size;
  font-family: $caption-font-family;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;

  display: flex;
  align-items: center;

  margin-bottom: 10px;

  @include header-top;
  @include header-bottom;

  a,
  a:link,
  a:visited {
    color: $frame-color-dark;
    text-decoration: none;
  }
  a:hover,
  a:focus {
    text-decoration: underline;
  }

  .logo {
    margin: 0px;
  }
}

#navy {
  grid-area: navy;
  text-align: right;

  // min-height: 44px;

  // padding-right: 5px;

  @include header-top;

  @media screen and (min-width: 1150px), screen and (max-width: 749px) {
    @include header-bottom;
    margin-bottom: 10px;
  }

  .wrapper {
    font-family: $caption-font-family;

    #navy-check {
      display: none;
    }

    #menu-icon {
      display: none;
    }

    .navy-item {
      &:not(:last-child) {
        padding-right: 10px;
      }
      padding-left: 10px;
      padding-top: 3px;
      padding-bottom: 2px;
    }

    a,
    a:link,
    a:visited,
    a:hover {
      color: $frame-color-dark;
      text-decoration: none;
    }

    a:hover {
      background-color: $highlight-color;
    }

    @media screen and (min-width: 640px) {
      padding-top: 5px;

      .navy-item {
        display: inline-block;
      }
    }

    @media screen and (max-width: 639px) {
      position: absolute;
      top: 9px;
      right: 5px;
      background-color: $frame-color-light;
      border: 1px solid $frame-color-dark;
      box-shadow: $base-shadow $frame-color-light;
      border-radius: 5px;
      text-align: right;

      label[for="nav-trigger"] {
        display: block;
        float: right;
        width: 36px;
        height: 36px;
        z-index: 2;
        cursor: pointer;
      }

      #menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0.5;
        padding-top: 10px;
        text-align: center;
        font-size: 26px;
        color: $frame-color-dark;
      }

      input ~ #navy-menu {
        clear: both;
        display: none;
      }

      input:checked ~ #navy-menu {
        display: block;
        padding-bottom: 5px;
      }

      .navy-item {
        display: block;
        padding: 5px 10px;

        &:not(:last-child) {
          margin-right: 0;
        }
        margin-left: 20px;
      }
    }
  }
}

@mixin footer-top {
  border-top: solid 2px $frame-color-light;
}

@mixin footer-bottom {
  border-bottom: solid 3px $frame-color-dark;
}

#site-footer {
  grid-area: footer;

  padding: 5px;

  font-family: $compact-font-family;
  font-size: $small-font-size;
  color: $frame-color-dark;

  a,
  a:link,
  a:visited {
    color: inherit;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

#search {
  grid-area: search;
  margin-bottom: 10px;

  @media screen and (max-width: 1149px) and (min-width: 750px) {
    @include header-bottom;
  }

  @media screen and (min-width: 1150px) {
    border: solid $frame-color-light 1px;
    box-shadow: $base-shadow $frame-color-light;
    padding: 5px 5px 0px;
  }

  @media screen and (max-width: 749px) {
    padding: 0px 5px;
  }

  .gsc-control-cse {
    padding: 0px;
  }

  .gsc-input {
    padding-right: 5px;
    font-family: $base-font-family;
    color: $frame-color-dark;
  }

  .gsc-search-button-v2 {
    padding: 6px 18px;
    background-color: $frame-color-dark;
  }

  .gsc-input-box {
    border-color: $frame-color-light;
  }

  // TODO: кнопка очистки
}

aside {
  color: $frame-color-dark;

  h4 {
    margin: 0px 0px 10px;
  }
  ul {
    margin: 0px;
  }
  a,
  a:link,
  a:visited {
    color: $frame-color-dark;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  @media print {
    display: none;
  }
}

#toc {
  grid-area: toc;

  padding: 10px;

  ul {
    font-family: $compact-font-family;
    padding-left: 20px;

    li::marker {
      @extend .fa-li-include-hashtag;
    }
  }

  &.toc-stream {
    ul {
      li {
        ul {
          li {
            &::marker {
              @extend .fa-li-include-file-alt;
            }

            ul {
              li::marker {
                @extend .fa-li-include-bookmark;
              }
            }
          }
        }
      }
    }
  }

  &.toc-post {
    ul {
      li::marker {
        @extend .fa-li-include-bookmark;
      }
    }
  }

  &.toc-calendar {
    ul {
      li {
        &::marker {
          @extend .fa-li-include-calendar-alt;
        }
        ul {
          columns: 2;
        }
      }
    }
  }

  @media screen and (max-width: 1149px) {
    display: none;
  }
}

#donate {
  grid-area: donate;
  place-self: center;
  margin-bottom: -8px;
}

#ga {
  grid-area: gads;
  height: 300px;
  @media screen and (max-width: 1149px) {
    height: 120px;
  }
}

/* ненужно
.adsbygoogle {
  display: inline-block;
  width: 300px;
  height: 300px;

  @media screen and (max-width: 1149px) {
    width: 100%;
    height: 120px;
  }
}
*/

// TODO: сделать посимпатичнее на узких экранах, как feeds, так и contacts

#feeds {
  grid-area: feeds;

  padding: 10px;

  ul {
    padding-left: 20px;

    li::marker {
      @extend .fa-li-include-rss-square;
      color: $highlight-color;
    }

    ul {
      columns: 2;

      @media screen and (max-width: 639px) and (min-width: 550px) {
        columns: 1;
      }
    }
  }
}

#contacts {
  grid-area: contacts;
  padding: 10px;

  .person {
    font-family: $caption-font-family;
    margin-bottom: 5px;
  }

  ul {
    padding-left: 25px;
  }

  p.social {
    @extend .fab;
    margin-top: 10px;
    font-size: $share-font-size;

    a {
      color: $frame-color-dark;
      padding: 2px 5px 2px;

      &:hover {
        color: $frame-color-light;
        text-shadow: $thin-shadow $frame-color-dark;
        text-decoration: none;
      }
    }
  }
}

#sidebar {
  grid-area: extra;
}

#main {
  grid-area: main;

  box-sizing: border-box;
  max-width: 100%;

  padding-left: 5px;
  padding-right: 5px;

  margin-bottom: 10px;
}

article {
  font-optical-sizing: auto;

  hr {
    color: $base-gray-color;
    border-top: dotted 1px $base-gray-color;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 0px;
    max-width: 90%;
  }

  p {
    text-align: justify;
    hyphens: auto;
  }

  p,
  dt {
    a:link {
      color: $base-link-color;
      text-decoration: none;
    }
    a:visited {
      color: $visited-link-color;
      text-decoration: none;
    }
    a:link:hover {
      text-decoration: underline;
    }
  }

  &.layout-stream {
    h3 {
      a:link,
      a:visited {
        color: $frame-color-dark;
        text-decoration: none;
      }
      a:link:hover {
        text-decoration: underline;
      }
    }
  }
}

#hl {
  grid-area: hl;
}

#hr {
  grid-area: hr;
}

#hb {
  grid-area: hb;
  @media screen and (max-width: 1149px) and (min-width: 750px) {
    @include header-bottom;
    margin-bottom: 10px;
  }
  @media screen and (not((max-width: 1149px) and (min-width: 750px))) {
    display: none;
  }
}

#hl,
#hr {
  @include header-top;
  @include header-bottom;
  margin-bottom: 10px;
}

#fl {
  grid-area: fl;
}

#fr {
  grid-area: fr;
}

#site-footer,
#fr,
#fl {
  @include footer-top();
}

#toc,
#ga,
#feeds,
#contacts,
#sidebar {
  margin-bottom: 10px;
}

#toc,
#feeds,
#contacts {
  border: solid $frame-color-light 1px;
  box-shadow: $base-shadow $frame-color-light;
}

@media print {
  #site-header,
  #site-footer,
  #hl,
  #hr,
  #hb,
  #fl,
  #fr,
  #search,
  #navy,
  #toc,
  #ga,
  #donate,
  #feeds,
  #contacts,
  #sidebar {
    display: none;
  }
}

aside.categories {
  //font-size: $small-font-size;

  a {
    padding: 2px 10px 2px;
    &:first-child {
      padding-left: 0px;
    }
  }
  a:hover {
    text-decoration: none;
    background-color: $highlight-color;
  }
}

.meta {
  color: $frame-color-dark;
}

h1 + aside + .meta {
  margin-bottom: 2em;

  font-family: $caption-font-family;
  font-size: $small-font-size;
}

h1 + aside + .meta + .tags {
  @extend .meta;

  margin-top: -1.5em;
  margin-bottom: 2em;

  font-family: $caption-font-family;
  font-size: $small-font-size;
}

aside.tags {
  a {
    padding: 2px 5px 2px;

    &:first-child {
      padding-left: 0px;
    }

    &::before {
      @extend .fa-icon-tag;
      font-size: $notes-font-size;
    }
  }
  a,
  a:link,
  a:visited {
    color: $frame-color-dark;
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
    background-color: $highlight-color;
  }
}

.share {
  float: right;
  font-size: $share-font-size;
  padding-bottom: 10px;

  max-width: 50%;

  a,
  a:link,
  a:visited {
    padding: 2px 5px 2px;
    color: $frame-color-dark;
    text-decoration: none;

    &:last-child {
      padding-right: 0px;
    }
  }

  a:hover {
    color: $frame-color-light;
    text-decoration: none;
    text-shadow: $base-shadow $frame-color-dark;
  }
}

sup {
  font-size: $index-font-size;
}

a.footnote::after {
  content: ")";
}

.footnotes {
  font-family: $compact-font-family;
  font-size: $small-font-size;

  padding-top: 10px;
  margin-top: 10px;

  border-top: dotted 1px $frame-color-light;

  columns: 2;

  ol {
    margin: 0px;
    padding-left: 20px;
    li {
      break-inside: avoid;
      page-break-inside: avoid;
      p {
        break-inside: avoid;
        page-break-inside: avoid;

        display: inline-block;
        vertical-align: top;
        margin-top: 0px;
      }
    }
  }

  p {
    text-align: left;
  }

  @media screen and (max-width: 550px) {
    columns: 1;
  }
}

figure {
  display: block;
  padding: 0px;
  margin: 5px 0px;
  border: solid $base-gray-color 1px;
  box-shadow: $base-shadow $base-gray-color;

  &.logo {
    border: none;
    box-shadow: none;
  }

  break-inside: avoid;
  page-break-inside: avoid;

  a:link {
    color: $base-link-color;
    text-decoration: none;
  }
  a:visited {
    color: $visited-link-color;
    text-decoration: none;
  }
  a:link:hover {
    text-decoration: underline;
  }

  img {
    display: block;
    max-width: 100%;
  }

  iframe {
    display: block;
    border: 0px;
    margin: 0px;
    padding: 0px;
    width: 100%;
  }

  figcaption {
    display: block;
    font-style: italic;
    font-size: $small-font-size;
    text-align: center;
    margin: 3px 5px 2px;
  }
}

iframe.square {
  aspect-ratio: 1/1;
}

iframe.hd {
  aspect-ratio: 16/9;
}

.strict-left {
  float: left;
  margin-right: 10px;
}
.strict-right {
  float: right;
  margin-left: 10px;
}
.center {
  float: none;
  clear: both;
  margin: 10px auto;
}
.left {
  @extend .strict-left;
  @media screen and (max-width: 500px) {
    float: none;
    margin: 5px auto 5px;
  }
}
.right {
  @extend .strict-right;
  @media screen and (max-width: 500px) {
    float: none;
    margin: 10px auto;
  }
}

.sticker {
  color: $frame-color-dark;
  background-color: $frame-color-back;
  font-family: $compact-font-family;
  padding: 10px;
  border: solid $frame-color-dark 1px;
  box-shadow: $base-shadow $frame-color-light;
  border-radius: 5px;
  a,
  a:link,
  a:visited {
    color: $frame-color-dark;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}

blockquote {
  margin: 5px 0px 5px 15px;
  padding: 0px 0px 0px 10px;
  border-left: solid 5px $base-gray-color;

  &.epigraph {
    border: none;
    margin-left: 50px;
    font-style: italic;
  }
}

ul {
  margin: 0px;
}

.note {
  margin-left: 2em;
  margin-right: 2em;
  font-size: $small-font-size;
}

.italic {
  font-style: italic;
}

#randoms {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  grid-template-areas: "first second third";

  @media screen and (max-width: 749px) and (min-width: 500px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "first first second second"
      ".     third third  .";
  }

  @media screen and (max-width: 499px) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "first"
      "second"
      "third";
  }

  @media print {
    display: none;
  }
}

.recommendations {
  margin-top: 20px;
  margin-bottom: 10px;
}

#random-first {
  grid-area: first;
}

#random-second {
  grid-area: second;
}

#random-third {
  grid-area: third;
}

.random-item {
$random_indent: 70px;

  padding: 10px;
  border: solid $frame-color-light 1px;
  box-shadow: $base-shadow $frame-color-light;

  .meta {
    font-size: $small-font-size;
    font-family: $compact-font-family;
  }

  dl {
    padding: 0px;
    margin: 0px;

    dt {
      margin-top: 0px;
      margin-bottom: 5px;
      margin-left: $random_indent;
      text-indent: -$random_indent;
    }

    dd {
      margin-left: 30px;
      a {
        margin-right: 10px;
        display: inline-block;
      }
    }
  }
}

.small {
  font-size: $small-font-size;
}
