body {
  padding: 0px;
  margin: 0px;
}

#grid {
  padding: 0px;
  margin: 0px;

  display: grid;

  @media screen and (min-width: 1230px) {
    grid-template-columns: 1fr 400px 500px 10px 300px 1fr;
    grid-template-areas:
      "hl header navy   navy   navy     hr"
      ".  main   main   .      search   ."
      ".  main   main   .      toc      ."
      ".  main   main   .      donate   ."
      ".  main   main   .      gads     ."
      ".  main   main   .      feeds    ."
      ".  main   main   .      contacts ."
      ".  main   main   .      extra    ."
      ".  main   main   .      .        ."
      "fl footer footer footer footer   fr";
  }

  @media screen and (max-width: 1229px) and (min-width: 1150px) {
    grid-template-columns: 1fr 500px 10px 300px;
    grid-template-areas:
      "header navy   navy   navy"
      "main   main   .      search"
      "main   main   .      toc"
      "main   main   .      donate"
      "main   main   .      gads"
      "main   main   .      feeds"
      "main   main   .      contacts"
      "main   main   .      extra"
      "main   main   .      ."
      "footer footer footer footer";
  }

  @media screen and (max-width: 1149px) and (min-width: 920px) {
    grid-template-columns: 1fr 300px 300px 300px 1fr;
    grid-template-areas:
      "hl header navy   navy     hr"
      "hl header search search   hr"
      ".  gads   gads   gads     ."
      ".  main   main   main     ."
      ".  donate extra  feeds    ."
      ".  donate extra  contacts ."
      ".  .      extra  .        ."
      "fl footer footer footer   fr";
  }

  @media screen and (max-width: 919px) and (min-width: 750px) {
    grid-template-columns: 300px 1fr 1fr;
    grid-template-areas:
      "header navy   navy"
      "header search search"
      "gads   gads   gads"
      "main   main   main"
      "donate extra  feeds"
      "donate extra  contacts"
      ".      extra  ."
      "footer footer footer";
  }

  @media screen and (max-width: 749px) and (min-width: 550px) {
    grid-template-columns: 300px 10px 1fr;
    grid-template-areas:
      "header navy   navy"
      "header search search"
      "gads   gads   gads"
      "main   main   main"
      "donate .      feeds"
      "donate .      contacts"
      ".      .      extra"
      "footer footer footer";
  }

  @media screen and (max-width: 549px) {
    grid-template-columns: 300px 1fr;
    grid-template-areas:
      "header   navy"
      "search   search"
      "gads     gads"
      "main     main"
      "donate   ."
      "feeds    ."
      "contacts ."
      "extra    ."
      "footer   footer";
  }
}

@mixin header-top {
  border-top: solid 5px $base-font-color;
}

@mixin header-bottom {
  border-bottom: solid 2px $base-border-color;
}

#site-header {
  grid-area: header;
  font-size: $header-font-size;
  font-family: $caption-font-family;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;

  @include header-top;
  @include header-bottom;

  a, a:link, a:visited {
    color: $base-font-color;
    text-decoration: none;
  }
  a:hover, a:focus {
    text-decoration: underline;
  }
}

#navy {
  grid-area: navy;
  text-align: right;

  padding-right: 5px;

  @include header-top;

  @media screen and (max-width:1150px) {
    @include header-bottom;
  }
}

#site-footer {
  grid-area: footer;
  background-color: cyan; // FIXME:
}

#search {
  grid-area: search;
  background-color: lightcoral; // FIXME:
  // @media screen and (max-width: 1149px) {
  //   display: none;
  // }
}

#toc {
  grid-area: toc;
  background-color: lightsalmon; // FIXME:
  // height: 0px; // TODO: test and do
  @media screen and (max-width: 1149px) {
    display: none;
  }
}

#donate {
  grid-area: donate;
  background-color: lightpink; // FIXME:
  height: 300px;
  // @media screen and (max-width: 1149px) {
  //   display: none;
  // }
}

#ga {
  grid-area: gads;
  background-color: lightsteelblue; // FIXME:
  height: 300px;
  @media screen and (max-width: 1149px) {
    height: 100px;
  }
}

#feeds {
  grid-area: feeds;
  background-color: lightgreen; // FIXME:
  // @media screen and (max-width: 1149px) {
  //   display: none;
  // }
}

#contacts {
  grid-area: contacts;
  background-color: lightseagreen; // FIXME:
  // @media screen and (max-width: 1149px) {
  //   display: none;
  // }
}

#sidebar {
  grid-area: extra;
  background-color: yellow; // FIXME:
  // @media screen and (max-width: 1149px) {
  //   display: none;
  // }
}

#main {
  grid-area: main;
  background-color: silver;  // FIXME:
}

#hl {
  grid-area: hl;
}

#hr {
  grid-area: hr;
}

#hl, #hr {
  @include header-top;
  @include header-bottom;
}

#fl {
  grid-area: fl;
  background-color: lightcyan; // FIXME:
}

#fr {
  grid-area: fr;
  background-color: lightcyan; // FIXME:
}

#toc, #donate, #ga, #feeds, #contacts {
  margin-bottom: 10px;
}
