@charset "utf-8";

$base-font-size: 16px !default;
$small-font-size: 14px !default;
$notes-font-size: 12px !default;
$index-font-size: 8px !default;

$base-font-family: "PT Sans", gsans, Arial, sans-serif !default;
$caption-font-family: "PT Sans Caption", gcaption, "Trebuchet MS", sans-serif !default;
$compact-font-family: "PT Sans Narrow", gnarrow, "Arial Narrow", sans-serif !default;
$mono-font-family: "PT Mono", gmono, monospace !default;
