.layout-verse {
  h1 {
    text-align: center;
    clear: both;
  }
}

.verse {
  display: table;
  margin: 0px auto;
  clear: both;

  p {
    text-align: left;
    hyphens: manual;
    white-space: pre;
    margin-bottom: 10px;

    &.verse-date {
      text-align: right;
      font-style: italic;
    }
    &.epigraph {
      text-align: right;
      font-style: italic;
    }
  }
}

.stream-item-verse {
  p {
    text-align: left;
    hyphens: manual;
    white-space: pre;
    margin-bottom: 10px;

    &.verse-date {
      text-align: right;
      font-style: italic;
    }
    &.epigraph {
      text-align: right;
      font-style: italic;
    }
  }
}
