---
layout: default
---

{% capture subcats %}
{% include list/subcategories.html category_id=page.category_id%}
{% endcapture %}
{% assign subcats_flag = subcats | strip %}

{% capture page_content %}

{% if subcats_flag != '' %}
<div class="subcategories">
<h2 id="subcategories">Подразделы</h2>
{{ subcats }}
</div>
{% endif %}

<div class="post-content">
  {{ content }}
</div>
{% assign source = site.categories[page.category_id] %}
{% include list/last.html source=source limit=10 maximum=12 %}
{% endcapture %}

{% capture page_toc %}
{% include toc.html html = page_content sanitize = true item_class = "toc-entry" %}
{% endcapture %}

{% include sidebar.html toc = page_toc %}

<article class="post">

<header class="post-header">

<div class="post-categories">
  {% include list/path.html category_id=page.category_id separator=' / ' %}
</div>

<h1 class="page-heading">{{ page.title }}</h1>
<p class="description">{{ page.description }}</p>
</header>

{{ page_content }}

</article>
