---
layout: default
---

{% capture main_text %}
{% assign posts = site.categories[page.selected] %}
{% include postlist.html %}
{% endcapture %}
{% capture main_toc %}
{% include toc.html html = main_text sanitize = true item_class = "toc-entry" %}
{% endcapture %}

{% include sidebar.html toc = main_toc %}

<article class="post">

<header class="post-header">

{% include categories.html %}

<h1 class="page-heading">{{ site.data.cats[page.selected].title | default: "Posts" }}</h1>
<p class="description">{{site.data.cats[page.selected].description}}</p>
</header>

<div class="post-content">
  {{ content }}
</div>

{{ main_text }}

</article>
