---
layout: default
---

{% capture main_text %}
{% assign posts = site.posts %}
{% include postlist.html %}
{% endcapture %}
{% capture main_toc %}
{{ main_text | toc_only }}
{% endcapture %}

{% include sidebar.html toc = main_toc %}

<div class="home">

{% include categories.html %}

<h1 class="page-heading">{{ page.list_title | default: site.title }}</h1>
<p class="description">{{ page.description | default: site.description }}</p>

<div class="post-content">
  {{ content }}
</div>

{{ main_text }}

</div>
