---
layout: default
---

{% capture page_content %}
<div class="post-content">
  {{ content }}
</div>
{% include list/last.html limit=10 maximum=12 %}
{% endcapture %}

{% capture page_toc %}
{% include toc.html html = page_content sanitize = true item_class = "toc-entry" %}
{% endcapture %}

{% include sidebar.html toc = page_toc %}

<div class="home">

{% include categories.html %}

<h1 class="page-heading">{{ page.list_title | default: site.title }}</h1>
<p class="description">{{ page.description | default: site.description }}</p>

{{ page_content }}

</div>
