---
layout: default
---
{% capture main_toc %}
{% include toc.html html = content sanitize = true item_class = "toc-entry" %}
{% endcapture %}

{% include sidebar.html toc = main_toc %}

{% capture post_date %}
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {{ page.date | date: date_format }}
{% endcapture %}

<article class="post h-entry" itemscope itemtype="http://schema.org/CreativeWork">

{% include list/full_categories.html %}

  <header class="post-header">

  <p class="post-meta">
    <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
      {{ post_date }}
    </time>
    {%- if page.author or site.author -%}
      • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author | default: site.author }}</span></span>
    {%- endif -%}</p>
  <h1 hidden class="post-title verse-title p-name" itemprop="name headline">{{ page.description | default: page.title | escape }}</h1>
  <h1 class="post-title verse-title p-name">{{ page.caption | default: page.title | escape }}</h1>
  </header>

  <div class="post-content verse e-content" itemprop="articleBody">
    {{ content }}

    <p class="verse-date">{{page.write_date | default: post_date}}</p>
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
