<!DOCTYPE html>

<html>

<head>
  <title>{{- page.title -}} | {{- site.title -}}</title>
  <link rel="stylesheet" href="/assets/styles.css" type="text/css">
</head>

<body>

<div id="grid">

<header id="site-header"><p class="logo"><a href="/">{{- site.title -}}</a></p></header>

<nav id="navy">
  {%- include nova/navy.html -%}
</nav>

<main id="main">

<h1>{{- page.caption | default: page.title -}}</h1>

{{- content -}}

</main>

<aside id="search">
  {%- include google/search.html -%}
</aside>

<aside id="toc">TOC</aside>

<aside id="donate">
  {%- include yoomoney/form.html -%}
</aside>

<aside id="ga">GADS</aside>

<aside id="feeds">FEEDS</aside>

<aside id="contacts">CONTACTS</aside>

<aside id="sidebar">EXTRA</aside>

<footer id="site-footer">Last site update: {{ site.time }}</footer>

<div id="hl"></div>
<div id="hr"></div>
<div id="hb"></div>
<div id="fl"></div>
<div id="fr"></div>

</div>

</body>

</html>
