---
layout: nova/post
title: false
meta: false
---
{% capture post_date %}
  {%- assign item_month = page.date | date: "%m" -%}
  {%- case item_month -%}
    {%- when '01' -%}январь
    {%- when '02' -%}февраль
    {%- when '03' -%}март
    {%- when '04' -%}апрель
    {%- when '05' -%}май
    {%- when '06' -%}июнь
    {%- when '07' -%}июль
    {%- when '08' -%}август
    {%- when '09' -%}сентябрь
    {%- when '10' -%}октябрь
    {%- when '11' -%}ноябрь
    {%- when '12' -%}декабрь
    {%- else -%}неизвестный месяц
  {%- endcase -%}
  &nbsp;{{- page.date | date: "%Y" -}}
{% endcapture %}

<h1 class="verse-caption">{{ page.caption | default: page.title }}</h1>

<div class="verse">

{{ content }}

<p class="verse-date">{{ page.write_date | default: post_date }}</p>

</div>
